<!DOCTYPE html>
<html>
<head>
    <title>Resume Analysis Dashboard</title>
    <link rel="stylesheet" href="/static/db.css">
</head>
<body>

<div class="container">
    <h2>📊 Resume Analysis Dashboard</h2>

    <table>
        <thead>
            <tr>
    <th>Name</th>
    <th>Email</th>
    <th>College</th>
    <th>Skills</th>
    <th>Match Score</th>
    <th>Date</th>
</tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>

<script src="/static/dashboard.js"></script>
</body>
</html>